@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    --Light-Cyan: hsl(193, 38%, 86%);
    --Neon-Green: hsl(150, 100%, 61%);
    --Neon-Green-Variant: hsl(150, 86%, 41%);

    --Grayish-Blue: hsl(217, 19%, 38%);
    --Dark-Grayish-Blue: hsl(217, 19%, 24%);
    --Dark-Blue: hsl(218, 23%, 16%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--Dark-Blue);
}

main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slip-container {
    background-color: var(--Dark-Grayish-Blue);
    max-width: 540px;
    padding: 50px 40px 40px 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 14px;
}

.slip-container_title {
    color: var(--Neon-Green);
    font-size: 13px;
    letter-spacing: 5px;
    margin-bottom: 26px;
}

.slip-container_content {
    color: var(--Light-Cyan);
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center;
}

.slip-container_divider {
    display: block;
    margin-bottom: 30px;
}

.slip-container_dice-button {
    display: flex;
    background-color: var(--Neon-Green);
    padding: 20px;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: -32px;
    transition: box-shadow .4s ease-out;
}

.slip-container_dice-button:hover {
    box-shadow: 0 0 30px 1px var(--Neon-Green);
    cursor: pointer;
    transition: box-shadow .3s ease;
}

.attr-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.attr-container_content {
    font-size: 14px;
    color: var(--Light-Cyan);
    text-align: center;
}

.attr-container_content a {
    text-decoration: none;
    color: var(--Neon-Green);
}
.attr-container_content a:hover {
    color: var(--Neon-Green-Variant);
}

@media (max-width: 540px) {
    .slip-container {
        padding: 44px 20px 40px 20px;
        margin: 0 16px 100px 16px;
    }

    .slip-container_title {
        font-size: 11px;
    }

    .slip-container_content {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .slip-container_divider {
        margin-bottom: 20px;
    }

    .attr-container_content {
        font-size: 10px;
    }
}

@media (max-width: 375px) {
    .slip-container_divider img {
        width: 100%;
    }
}